.promo-banner {
    background: linear-gradient(to right, darkgoldenrod, #2563eb);
    padding: 1.5rem 1rem;
    text-align: center;
}


.promo-content {
    max-width: 1200px;
    margin: 0 auto;
}


.promo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
}


.promo-button {
    background-color: white;
    color: darkgoldenrod;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}


.promo-button:hover {
    background-color: #f3f4f6;
}