<div class="flex flex-wrap gap-4 justify-center">
    <div class="w-full flex gap-4 mb-4 p-4 bg-gray-100 rounded-lg">
        <button (click)="toggleTextoGrande()" class="px-4 py-2 bg-blue-500 text-white rounded">
            {{ textoGrande ? 'Texto Normal' : 'Texto Grande' }}
        </button>
        <button (click)="toggleFondo()" class="px-4 py-2 bg-green-500 text-white rounded">
            {{ fondoCambiado ? 'Color Original' : 'Cambiar Color Texto' }}
        </button>
        <button (click)="toggleCardColor()" class="px-4 py-2 bg-purple-500 text-white rounded">
            {{ cardColor ? 'Card Normal' : 'Card Color' }}
        </button>
    </div>

    @for (carro of carros; track carro.id) {
    <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700"
        [ngClass]="{'card-color': cardColor}">
        <a href="#">
            <img class="rounded-t-lg w-full h-48 object-cover" [src]="carro.foto" [alt]="carro.nombre" />
        </a>
        <div class="p-5" [ngClass]="asignaClases()">
            <a href="#">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                    {{ carro.nombre }} ({{ carro.modelo }})
                </h5>
            </a>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
                Marca: <span class="font-semibold">{{ carro.marca }}</span>
            </p>
            <a href="#"
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Ver detalles
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 14 10">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M1 5h12m0 0L9 1m4 4L9 9" />
                </svg>
            </a>
        </div>
    </div>
    }
</div>